<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie Trenera</title>
</head>
<body bgcolor="#5f9ea0">

<h1 th:align="center">Dodaj nowego Trenera</h1>
<p th:if="${createdTrainer}" th:align="center">Dodano trenera <span th:text="${createdTrainer.firstName}">" "</span>
    <span th:text="${createdTrainer.lastName}"></span></p>
<table bgcolor="#ffe4c4" border="3px">
<tr>
    <form th:action="@{'/trener/dodaj'}" th:object="${trainer}" th:method="'post'">
        <th>
            <label for="trainer-firstName">Imię</label>
            <input type="text" id="trainer-firstName" th:field="*{firstName}">
        </th>
        <th>
            <label for="trainer-lastName">Nazwisko</label>
            <input type="text" id="trainer-lastName" th:field="*{lastName}"><br>
        </th>
        <th>
            <label for="trainer-hourlyRate">Stawka godzinowa</label>
            <input type="number" id="trainer-hourlyRate" th:field="*{hourlyRate}"><br>
        </th>
        <th>
            <input type="submit" value="Dodaj">
        </th>
    </form>
</tr>
</table>
</body>
</html>
