<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista kursów</title>
</head>
<body>
<table bgcolor="#ffe4c4" border="3px">
    <tr bgcolor="#5f9ea0">
        <th>ID kursu</th>
        <th>Nazwa kursu</th>
        <th>Data startu</th>
        <th>Data zakończenia</th>
        <th>Miasto</th>
        <th>Cena</th>
        <th>Tryb</th>
        <th>Prowadzący</th>
    </tr><br>
    <tr th:each="kurs: ${kursy}">
        <td th:text="${kurs.id}"/>
        <td th:text="${kurs.name}"/>
        <td th:text="${kurs.startDate}"/>
        <td th:text="${kurs.endDate}"/>
        <td th:text="${kurs.city}"/>
        <td th:text="${kurs.price}"/>
        <td th:text="${kurs.mode}"/>
        <td th:text="${kurs.trainer}"/>
    </tr>
</table>
</body>
</html>
